img{
    background-color: #F1F4F7;
}
.imge-holder{
    padding: 20px;
}
.keyname{
    font-weight: bold;
}
.card-title{
    color: #2d2d90;
}

.valuename{
    color: #408cde;
}
.view-holder{
    max-height: 70vh;overflow: auto;min-height: 70vh;
}
.card{
    height: 100%;width: 100%;
}